body

{
 text-align:center;
   background-image: linear-gradient(to right, gold,silver);
  background-repeat:no-repeat
}

img
{
  border-radius:60%;
    width:300px;
}

h1{
  text-shadow:2px #F8BBDO
    font-size:20px;
}


p{
  font-size:18px
    color:#6A1B9A
}